$myFont: Helvetica, sans-serif;
$myWidth: 100%;
$color-1:#c73364;

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}


#container-fluid {
  width: $myWidth;
}
header {
    background-color: $color-1;
}

section.main-img-carsoul {
    img{
        max-height: 500px;
        min-height: 500px;
    }
    input[type="text"],
    input[type="submit"] {
        height: 30px;
      }
      input[type="submit"] {
        background-color: $color-1;
      }

      .search-sec {
          top: 150px;
          max-width: 700px;
          margin-left: auto;
          margin-right: auto;
          left: 25%;
          display: block;
          border-radius: 20px;
      }
}

.main-1 {
 .main-1-items{
   margin-left: 10% ;
   margin-right: 10%;
 }
 img, i {
   @include width-height(30px, 30px)
 }

}

@media screen and (max-width: 1023.99px) {
  .main-1-items {
    display: flex !important;
    flex-direction: column !important;
  }
}


@media screen and (max-width: 768px) {
  .search-sec {
    top: 150px;
    left: 0 !important;
    width: 100% !important;
   padding: 0 20px;
    display: block;
    border-radius: 20px;
}

.how-it-work {
  min-width: 120px;
}

}


