$myFont: Helvetica, sans-serif;
$myColor: red;
$myFontSize: 18px;
$myWidth: 100%;


#container-fluid {
  width: $myWidth;
}
header {
    background-color: #c73364;

    img {
        background-color: #c73364;
        color: wheat;
    }
}


