.container-fluid {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.color-1 {
  color: #d25649;
}

header {
  background-color: #d25649;
}

.main-1-items,
.main-2-items,
footer,
.search,
.details,
.para-details,
.more-details,
.map {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
}
footer input[type=submit] {
  background-color: #605f5f;
}
footer i {
  color: white;
}
footer .footer-bottom-sec {
  background-color: #1f1f1f;
}

.search-values {
  background-color: #eee;
}
.search-values form {
  display: flex;
  flex-direction: row;
}
.search-values .btn-clear {
  background-color: #e5ab5b;
}
.search-values .img-clear {
  width: 30px;
  height: 30px;
  text-align: left;
}
.search-values label {
  font-weight: bold;
}

.search-result {
  justify-content: center;
}
.search-result img {
  width: 250px;
  height: 250px;
}
.search-result .resul-name {
  top: 70px;
  left: 20%;
}

.main-1 h2 {
  color: #d25649;
}
.main-1 .main-1-item-1 {
  margin-right: 200px;
}
.main-1 img {
  width: 30px;
  height: 30px;
}
.main-1 a {
  text-decoration: none;
}
.main-1 i {
  color: black;
}

.details i {
  color: blue;
}
.details h2 {
  color: #d25649;
}
.details h2 i {
  color: #d25649;
}

.internet {
  width: 20px;
  height: 20px;
}

.more-details {
  background-color: #e2e2e2;
}
.more-details a {
  color: black;
  letter-spacing: 8px;
}

.main-2 img {
  width: 200px;
  height: 200px;
}
.main-2 .btn-div {
  max-width: 120px;
}
.main-2 .btn-div-1 {
  max-width: 200px;
}
.main-2 .btn-div :hover {
  text-decoration: none;
}
.main-2 .bg-1 {
  background-color: #e17f65;
}
.main-2 .bg-2 {
  background-color: #98a4a5;
}
.main-2 .bg-3 {
  background-color: #509bd7;
}

section.main-img-carsoul img {
  max-height: 500px;
  min-height: 500px;
}
section.main-img-carsoul input[type=text],
section.main-img-carsoul input[type=button] {
  height: 30px;
}
section.main-img-carsoul input[type=button] {
  background-color: #d25649;
}

.main-2-items-txt {
  width: 70%;
  order: 0;
}

.main-2-items-img {
  width: 30%;
  order: 1;
}

iframe {
  border: 0;
}

@media screen and (min-width: 1024px) {
  .main-1-items div:first-child {
    margin-right: 200px;
  }

  .btn-clear {
    width: 120px;
  }

  .btn-search {
    width: 80px;
  }

  .details .details-res {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
}
@media screen and (max-width: 1023.99px) {
  .main-1-items,
.main-2-items {
    display: flex;
    flex-direction: column;
  }

  .main-1 {
    margin: 0 10%;
  }

  .search-values form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 20px;
  }

  .search-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .details-res {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .apply .btn-search {
    width: 100px;
  }
}
@media screen and (min-width: 768px) {
  .footer-top-1 {
    display: grid;
    grid-template-columns: 47% 6% 47%;
    font-size: 14px;
  }
  .footer-top-1 .footer-loc-icon {
    border: 1px solid;
    border-radius: 50%;
  }

  .footer-middle-sec {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-middle-sec p {
    font-size: 10px;
  }

  .search-sec {
    top: 150px;
    max-width: 800px;
    margin: 0 30%;
    border-radius: 20px;
  }
  .search-sec h2 {
    color: #f7efef;
  }
}
@media screen and (max-width: 767.99px) {
  .search-sec {
    top: 150px;
    margin: 0 5%;
  }
  .search-sec h2 {
    color: #f7efef;
  }

  section.main-img-carsoul img {
    max-height: 700px;
    min-height: 600px;
  }

  .main-2-items-txt {
    width: 100%;
    order: 1;
  }

  .main-2-items-img {
    width: 100%;
    order: 0;
  }

  .btn-div,
.btn-div-1 {
    margin: auto;
  }

  .how-it-work {
    min-width: 120px;
  }

  .footer-top-1 {
    font-size: 12px;
  }
  .footer-top-1 .footer-loc-icon {
    border: none;
  }
  .footer-top-1 i {
    border-radius: 50%;
    border: 1px solid;
    width: 50px;
    height: 50px;
    text-align: center;
  }

  .footer-middle-sec {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .footer-middle-sec form div {
    min-width: 100%;
  }

  .search-values form,
.search-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 20px;
  }

  .details-res {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .apply {
    justify-content: center;
  }
  .apply .btn-search {
    width: 200px;
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .more-details a {
    font-size: 20px;
  }
}
@media screen and (max-width: 566.99px) {
  .search-result,
.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media screen and (max-width: 470.99px) {
  .search-values form {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
