$myFont: Helvetica, sans-serif;
$myWidth: 100%;
$color-1:#c73364;

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin marg-padd($val1, $val2) {
  margin: $val1;
  padding: $val2;
}

@mixin marg-left-right($val1, $val2) {
  margin-left: $val1;
  margin-right: $val2;
}

#container-fluid {
  width: $myWidth;
}
header {
    background-color: $color-1;
}

section.main-img-carsoul {
    img{
        max-height: 500px;
        min-height: 500px;
    }
    input[type="text"],
    input[type="submit"] {
        height: 30px;
      }
      input[type="submit"] {
        background-color: $color-1;
      }

      .search-sec {
          top: 150px;
          max-width: 700px;
          margin-left: auto;
          margin-right: auto;
          left: 25%;
          display: block;
          border-radius: 20px;
      }
}

.main-1-items,
.main-2-items,
footer {
  max-width: 1000px;
  @include marg-left-right(auto, auto );
}

.main-1 {
  h2{
    color: $color-1;
  }
  .main-1-item-1 {
    margin-right: 200px;
  }
 img {
   @include width-height(30px, 30px);
 }
 a {
  text-decoration: none;
 }
 i{
   color: black;
 }
}

.main-2 {
  img {
    @include width-height(200px, 200px);
  }

  .btn-div {
    max-width: 120px;
  }
  .btn-div-1 {
    max-width: 200px;
  }

  .btn-div :hover {
   text-decoration: none;
  }
  .bg-1 {
  background-color: $color-1;
  }
  
  .bg-2 {
  background-color: #937dbe;
  }

  .bg-3 {
  background-color: #5c32f5;
  }

}

footer {

  @include marg-left-right(auto, auto );
  background-color: black;
  color: white;

  .footer-top-1 {
    display:grid;
    grid-template-columns:47% 6% 47%;
    font-size: 14px; 
  }
  i {
    color: white;
  }
  .footer-middle-sec {
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .main-1-items div:first-child{
    margin-right: 200px;
  }
}

@media screen and (max-width: 1023.99px) {
  .main-1-items,
  .main-2-items {
    display: flex !important;
    flex-direction: column !important;
  }
  .main-1 {
    margin: 0 10%;
  }

  .main-2-items div {
   width: 100% !important;
   text-align: center !important;
  }
  .btn-div,
  .btn-div-1 {
    margin: 10px auto !important;
  }
}


@media screen and (max-width: 767.99px) {
  .search-sec {
    top: 150px;
    left: 0 !important;
    width: 100% !important;
   padding: 0 20px;
    display: block;
    border-radius: 20px;
}

.how-it-work {
  min-width: 120px;
}

.footer-top-1 {
  display:flex !important;
  flex-direction: column !important;
  font-size: 12px !important; 

  .footer-loc-icon {
    border: none !important;
  }

  i {
    border-radius: 50%;
    border: 1px solid;
    @include width-height(50px, 50px);
    text-align: center !important;
    vertical-align: middle !important;
  }
}
.footer-middle-sec {
  display:grid;
  grid-template-columns:1fr !important;

  form div {
  width: 100% !important;
  }
}

}


